@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
    --bg-main: #f5f8ff;
    --text-primary: #2f2d2f;
    --text-gray: #ccc;
    --border-blue: #4267b2;
    --box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    background: var(--bg-main);
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    padding-top: 100px;
    height: 100vh;
}
.box {
    background: #fff;
    padding: 30px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
}
.title {
    margin-bottom: 30px;
    text-align: center;
}
